* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #189B23;
    max-width: 800px;
    min-width: 350px;
    margin: 0 auto;
}

#header {
    display: flex;
    justify-content: space-between;
    height: 6rem;
}

#molkkyImg {
    height: 4rem;
    margin: auto 2rem;
}

#molkkyLabel {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 100;
    font-size: 2rem;
    color: white;
    margin: auto 2rem;
}


#screenshots {
    height: 500px;
    width: 100%;
}

.scrollDiv {
    overflow: scroll;
    height: 400px;
    width: 95%;
    margin: auto auto;
}

.scrollDivContent {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#iphoneScrollDiv {
    display: block;
}

#iphoneScrollDivContent {
    min-width: 600px;
}

#ipadScrollDiv {
    display: none;
}

#ipadScrollDivContent {
    min-width: 1500px;
}

.iphoneImage {
    display: block;
    margin: auto 20px;
    border: 2px solid white;
    border-radius: 2px;
    width: 150px;
    height: 319px;
}

.ipadImage {
    display: block;
    margin: auto 20px;
    border: 2px solid white;
    border-radius: 2px;
    width: 456px;
    height: 319px;
}

#deviceSelect {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 100;
    font-size: 0.8rem;
    color: white;
    text-align: center;
}

.deviceOption {
    cursor: pointer;
    margin: 0 1rem;
}

.deviceOptionSelected {
    color: while;
}

.deviceOptionUnselected {
    color: lightgray;
}

#footer {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 6rem;
}

#twitterImg {
    height: 2rem;
    margin: auto 0;
}

#appstoreImg {
    height: 2.5rem;
    margin: auto 0;
}

#privacyHeader {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 100;
    font-size: 1.5rem;
    color: white;
    margin: 2rem 0;
}

.privacyPara {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-size: 1rem;
    color: white;
    margin: 1rem 0;
}
