* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(244, 252, 244);
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    margin: 0 auto;
}

#privacyBody {
    background-color: #189b23;
}

#header {
    background-color: #189b23;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
}

#molkkyImg {
    height: 4rem;
}

#screenshots {
    display: flex;
    flex-direction: row;
    height: calc(var(--vh, 1vh) * 100 - 11rem);
    max-width: 600px;
    min-width: 350px;
    margin: 0 auto;
    padding: 2rem;
}

.arrowButton {
    height: 100%;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-size: 2rem;
    border: 0;
    outline: none;
    background-color: transparent;
    color: #189b23;
    cursor: pointer;
}

#buttonRight {
    margin: 0 0 0 1rem;
}

#buttonLeft {
    margin: 0 1rem 0 0;
}

.screenshotContainer {
    width: 95%;
    height: 100%;
}

.screenshot {
    display: none;
    width: 100%;
    height: calc(100% - 2rem);
    margin: 0 auto;
}

.fade {
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-name: fadeIn;
  animation-duration: 1s;
}
@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

.dotContainer {
    height: 2rem;
    text-align: center;
}

.dot {
  cursor: pointer;
  height: 0.6rem;
  width: 0.6rem;
  margin: 1.2rem 0.4rem 0.2rem;
  background-color: #189b23;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.image {
    margin: 0 auto;
    display: block;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

#footer {
    bottom: 0;
    max-width: 600px;
    min-width: 350px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    height: 5rem;
}

#twitterImg {
    height: 2rem;
    margin: auto 0;
}

#appstoreImg {
    height: 2.5rem;
    margin: auto 0;
}

#privacyHeader {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 100;
    font-size: 1.5rem;
    color: white;
    margin: 2rem 1rem;
}

.privacyPara {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-size: 1rem;
    color: white;
    margin: 1rem 2rem;
}
